/* Styles go here */
body{
  background:url('https://www.livemint.com/rf/Image-621x414/LiveMint/Period2/2018/04/19/Photos/Processed/rupee4-kImE--621x414@LiveMint.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  
}
h1{
  color : red;
  padding : 30px;
  
}
